.loginpage {
  background-color: rgb(242, 242, 242);
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.login__all {
  width: 65%;
  margin: auto;
  background: transparent;
  display: flex;
  gap: 35px;
}

.login__left {
  display: flex;
  flex-direction: column;
}

.login__form {
  /* border: 1px solid red; */
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.login__form label {
  font-family: Lato, sans-serif;
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.login__input {
  border: 1px solid rgb(140, 140, 140);
  height: 45px;
  padding: 0px;
  border-radius: 4px;
  margin-top: 8px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  background-color: white;
}

.login__input:hover {
  border: 1px solid rgb(0, 0, 0);
}

.login__input:focus-within {
  border: 2px solid black;
}

.cancelIcon {
  color: rgb(128, 128, 128);
}

.cancelIcon:hover {
  cursor: pointer;
  color: rgb(165, 165, 165);
}

.login__input > input {
  border: none;
  flex: 1;
  height: 100%;
  outline: none;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 14px;
  font-family: Lato, sans-serif;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgb(51, 51, 51);
}

.login__input > p {
  font-family: Lato, sans-serif;
  color: rgb(51, 51, 51);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  padding: 2px;
  font-weight: 700;
}

.login__input > p:hover {
  cursor: pointer;
  color: rgb(111, 111, 111);
}

.login__heading {
  font-family: Poly, sans-serif;
  color: rgb(51, 51, 51);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin: -2px 0px 24px -2px;
  padding: 2px;
  font-weight: 400;
}

.login__common__leftright {
  flex: 1;
  background-color: rgb(255, 255, 255);
  padding: 33px;
  display: flex;
  flex-direction: column;
}

.login__p {
  font-family: Lato, sans-serif;
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  font-weight: 400;
}

.login__options {
  display: flex;
  gap: 15px;
}

.login__fg {
  border: 1px solid rgb(129, 129, 129);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 45px;
}

.login__fg > img {
  width: 25px;
  height: 25px;
}

.login__fg > p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(102, 102, 102);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 700;
}

.login__fg:hover {
  cursor: pointer;
  border: 1px solid rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
}

.forgot__password {
  width: fit-content;
  font-family: Lato, sans-serif;
  color: rgb(51, 51, 51);
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 5px;
}

.forgot__password:hover {
  cursor: pointer;
  text-decoration: underline;
}

.way__to__signup {
  height: 165px;
}


@media (max-width: 1115px) {
  .login__all {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .login__all {
    width: 65%;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .loginpage {
    gap: 40px;
    padding-bottom: 20px;
  }
  .login__all {
    width: 100%;
    /* padding: 30px; */
  }
}
